body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

svg text {
	dominant-baseline: central;
	text-anchor: middle;
}

.fret line {
	stroke: #ccc;
	stroke-width: 3;
}
.fret text {
	font-size: 0.75em;
	fill: #aaa;
}
.fret circle {
	fill: #eee;
}

.string line {
	stroke: #ccc;
	stroke-width: 2;
}
.string text {
	font-size: 0.75em;
	fill: #aaa;
}

.note-dot text {
	font-size: 0.75em;
	fill: #fff;
}
