body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

svg text {
	dominant-baseline: central;
	text-anchor: middle;
}


.cfg-box {
	border: 1px solid #777;
	display: inline-block;
	padding: 0.25em;
	margin: 0.25em;
}
.cfg-section {
	display: inline-block;
	margin: 0.5em;
	vertical-align: top;
}


.fret line {
	stroke: #ccc;
	stroke-width: 3;
}
.fret text {
	font-size: 0.75em;
	fill: #aaa;
}
.fret circle {
	fill: #eee;
}

.string line {
	stroke: #ccc;
	stroke-width: 2;
}
.string text {
	font-size: 0.75em;
	fill: #aaa;
}

.note-dot text {
	fill: #fff;
	text-shadow: 0 0 2px #333;
}


/*
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 2em;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 1em 2em;
	border: 1px solid #888;
	width: 80%;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 2em;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
*/
